In [ ]:
# ASSIGNMENT 7 - NUMPY

In [4]:
import numpy as np

In [ ]:
# Exercise 1: (Score : 1)
# Create a numpy array containing the numbers from 1 to 10, and then reshape it to a 2x5 matrix.

In [ ]:
a1 = np.arange (1,11).reshape(2,5)
print(a1)
print(a1.shape)
print(a1.ndim)

In [ ]:
# Exercise 2: (Score : 1)
# Create a numpy array containing the numbers from 1 to 20, and then extract the elements between the 5th and 15th index.

In [ ]:
a2 = np.arange (1,21)
print(a2)
print(a2[5:15])

In [ ]:
# Exercise 3: (Score : 2)
# Create a Pandas series with the following data: {'apples': 3, 'bananas': 2, 'oranges': 1}. 
# Then, add a new item to the series with the key 'pears' and the value 4.

In [2]:
import pandas as pd

In [ ]:
fruit = pd.Series ({'apples': 3, 'bananas': 2, 'oranges': 1})
print(fruit)
fruit["pears"] = 4
print(fruit)

In [ ]:
# Exercise 4: (Score : 2)
# Create a dataframe with the following columns: name, age, and gender. The dataframe should have 10 rows of data.

In [ ]:
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 
             'Frank', 'Grace', 'Hannah', 'Ian', 'Jane'],
    'age': [25, 30, 22, 35, 28, 40, 33, 27, 29, 31],
    'gender': ['Female', 'Male', 'Male', 'Male', 'Female', 
               'Male', 'Female', 'Female', 'Male', 'Female']
})
df

In [ ]:
# Exercise 5: (Score : 1)
# Add a new column to the data frame created in question 1, called occupation. 
# The values for this column should be Programmer, Manager, and Analyst, corresponding to the rows in the dataframe.

In [ ]:
df['occupation'] = ['Programmer', 'Manager', 'Analyst', 'Manager', 'Programmer', 'Analyst', 'Manager', 'Analyst', 'Programmer', 'Analyst']
df

In [ ]:
# Exercise 6: (Score : 1)
# Select the rows of the dataframe where the age is greater than or equal to 30.

In [ ]:
age_condition = df[df['age'] >= 30]
print(age_condition)

In [ ]:
# Exercise 7: (Score : 2)
# Convert this dataframe to a csv file and read that csv file, finally display the contents.

In [ ]:
df.to_csv('Employee.csv', index = False)
print("df saved as 'Employee.csv'.")
df_csv_read = pd.read_csv('Employee.csv')
print(df_csv_read)